
@media (min-width: 667px) {
  .desktop-name {
    display: inline;
    visibility: visible;
  }
  .mobile-name {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 668px) {
  .modes-table button, td {
    font-size: 0.5em;
  }
  .desktop-name {
    display: none;
    visibility: hidden;
  }
  .mobile-name {
    display: inline;
    visibility: visible;
  }
}
.modes-table-container {
  table {
    table-layout: fixed;
    margin: 0 auto 1%;
    border-collapse: collapse;
  }
  td {
    text-align:center;
  }

  table td {
    border: 0.13em solid rgba(191,191,191,1);
  }
  table tr:first-child td {
    border-top: 0;
  }
  table tr td:first-child {
    border-left: 0;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:last-child {
    border-right: 0;
  }
}

.circle-container {
  display:flex;
  align-items: center;
  justify-content: center;
}

.main-color-circle {
  clip-path: circle(45%);
  height: 1.2em;
  width: 1.2em;
}

.current-color-circle {
  clip-path: circle(45%);
  height: 1.2em;
  width: 1.2em;
  text-align: center;
}

.modes-table-mode-button {
  cursor: pointer;
  border-radius: 1.2em;
  border: 0.25em solid rgba(0,0,0,.05);
  background-color: rgba(255,255,255,1);
}

.modes-table-note-button {
  cursor: pointer;
  border-radius: 1.2em;
  border: 0.25em solid rgba(0,0,0,.05);
}

.colored-note-button {
  border: 0.25em solid rgba(0,0,0,.2);
}