
/* Music Circle Section Properties */

.music-circle-section {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}

/* Rightward Text Box */

.music-circle-text {
  padding-left: 1em;
  padding-top: 4em;
}