/* Music Circle Section Properties */

.music-circle-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  padding: 0;
  margin-bottom: 0;
  margin-right: 2em;
}

@media (max-width: 768px) {
  .music-circle-section {
    margin-bottom: 1em;
    margin-right: 0;
  }
}

/* Rightward Text Box */

.music-circle-text {
  padding-left: 1em;
  padding-top: 4em;
  top: 0;
  right: 0;
  padding: 0;
  text-align: center;
  
  p {
    margin: 0;
  }
}
