/* Circle Generating Mixins */
@use 'sass:math';

@mixin line-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  padding: 0;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1 * math.div($item-size, 2);
    width: $item-size;
    height: $item-size;

    $angle: math.div(360, $item-count);
    $rot: -74;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg)
        translate(math.div($circle-size, 2))
        rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

@mixin colored-circle($item-count, $circle-size) {
  position: relative;
  border: 1px solid black;
  padding: 0;
  margin: 1em auto;
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  border-style: hidden; //or none?

  @for $i from 1 through $item-count {
    li:nth-child(#{$i}) {
      -webkit-transform: rotate(0deg) skewY(-60deg);
      -ms-transform: rotate(0deg) skewY(-60deg);
      transform: rotate(($i - 1) * 30deg) skewY(-60deg);
    }
  }
  li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
  }
  .li-content {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    -webkit-transform: skewY(60deg) rotate(15deg);
    -ms-transform: skewY(60deg) rotate(15deg);
    transform: skewY(60deg) rotate(15deg);
    padding-top: 20px;
  }
}

/* Circles Positioning */

.outer-circles-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inner-circle {
  position: absolute;
}

/* Modes Circle Styling */

.modes-circle {
  @include colored-circle($item-count: 12, $circle-size: 25em);
  transition: transform 500ms ease;
}

@media (max-width: 768px) {
  .modes-circle {
    @include colored-circle($item-count: 12, $circle-size: 20em);
  }
}

.mode-button {
  cursor: pointer;
  border-radius: 40px;
  border: 0.25em solid rgba(0, 0, 0, 0.05);
  padding: 0.4em;
  background-color: rgba(255, 255, 255, 0.75);
}

@media (max-width: 768px) {
  .mode-button {
    font-size: 0.7em;
  }
}

.empty-mode-slot {
  background: grey;
  opacity: 25%;
}

/* Notes Circle Styling */

.notes-circle {
  @include line-circle($item-count: 12, $circle-size: 12em, $item-size: 2em);
  transition: transform 500ms ease;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .notes-circle {
    @include line-circle($item-count: 12, $circle-size: 8.5em, $item-size: 2em);
  }
}

.note-button {
  cursor: pointer;
  border-radius: 40px;
  border: 0.25em solid rgba(0, 0, 0, 0.05);
  transition: transform 500ms ease;
}

.colored-note-button {
  border: 0.25em solid rgba(0, 0, 0, 0.2);
}

.alteration-button {
  width: 50px;
  height: 25px;
}

.sharp-note {
  position: relative;
  top: -5px;
  left: -9px;
}

.alteration-division {
  position: relative;
  top: -24px;
}

.flat-note {
  position: relative;
  top: -39px;
  left: 9px;
}
