@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3B463A;
  color: white;
}

html {
  height: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-family: 'Noto Sans JP', sans-serif;
}