@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3b463a;
  color: white;
}

@media (min-width: 768px) {
  body {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  font-family: "Noto Sans JP", sans-serif;
}
